<h1>Book: <%= @book.title %></h1>
<h2>Authors: </h2>
<ul>
  <% @book.authors.each do |author| %>
    <li><%= link_to author.name, author_path(author) %></li>
  <% end %>
</ul>
<p><%= @book.description %></p>

<%= link_to "All Books", books_path %>